extends layout

block content
    h1=title
    p Welcome to #{title}
    ul(id="todoList")
    br
    br
    input(type="text" id="txtNewTodo")
    button(id="btnAddTodo") Add New Todo
    script(src="/javascripts/todoOperations.js")
